MONGO_URI=mongodb://<username>:<password>@host1.mongodb.net:27017,host2.mongodb.net:27017,host3.mongodb.net:27017/fintech-dashboard?ssl=true&authSource=admin&replicaSet=<replica-set>&retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change-this-secret
CLIENT_URL=http://localhost:3000
PORT=4000
